
header {
    background-color: lightblue;
    border-bottom: 2px solid blue;
    padding: 10px;
    text-align: center;
}

.card {
    margin-bottom: 0;
}

h5 {
    margin: 0;
    padding: 0;
    color: blue;
}