<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Task</title>
</head>
<body>

<h1>Add Task</h1>
<form th:action="@{/tasks/create/todos/{todo_id}(todo_id=${todo_id})}"  th:object="${task}" method="post">
    <label for="taskNameInput" class="form-label">Name</label>
    <input type="text" id="taskNameInput" th:field="*{name}"/>

    <label for="taskPriorityDrop-down" class="form-label">Name</label>
    <select name="Priority" id="taskPriorityDrop-down" th:field="*{priority}">
        <option value="LOW">Low</option>
        <option value="MEDIUM">Medium</option>
        <option value="HIGH">High</option>
    </select>

    <p><input type="submit" value="Add task"/>
        <input type="reset" value="Clear"/></p>
</form>
<div>
    <p><a th:href="@{'/todos/' + ${todo_id} + '/tasks'}">Go to tasks list</a></p>
</div>
</body>
</html>