<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Tasks of ToDo List</title>
</head>
<body>
    <h1>All Tasks of ToDo List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Priority</th>
            <th>State</th>
            <th>Action</th>
        </tr>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.name}"></td>
            <td th:text="${task.priority}"></td>
            <td th:text="${task.state.name}"></td>
            <td>
                <a th:href="@{/tasks/{task_id}/update/todos/{todo_id}(task_id=${task.id},todo_id=${todoId})}">Edit</a>
                <a th:href="@{/tasks/{task_id}/delete/todos/{todo_id}(task_id=${task.id},todo_id=${todoId})}">Delete</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/tasks/create/todos/{todo_id}(todo_id=${todoId})}">Create New Task</a>
</body>
</html>